<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Registro de Mascotas</span>
      <span ></span>
      <button (click)="showForm = true; showTable = false" mat-flat-button class="margin-2" aria-label="Example icon-button with menu icon">
        Formulario
      </button>
      <span ></span>
      <button (click)="showTable = true; showForm = false" mat-flat-button class="margin-2" aria-label="Example icon-button with menu icon">
        Tabla
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<div class="center-container">
  <app-formulario *ngIf="showForm" (enviarMascota)="GuardarMascota($event)"></app-formulario>
  <app-table *ngIf="showTable"></app-table>
</div>
